h1
{
  width:250px;
   display:inline-block;
}

#MassDeletebutton
{
  color:black;
  background-color:red;
}

footer
{
min-height: 50px;
}
 
div.product_container
 {
 border-style:solid;
 border-color:gray;
 border-width: 1px;
 width:252px;   
 height:200px;
 display:inline-grid;
 margin:10px;
 padding: 10px;
 }

 .delete-checkbox
 {
 position :relative;
 left:5px;
 top:5px;
 }

 div.Products_container
 {
 width:90%;
 min-height:85vh;
 margin-left: 5%;
 margin-right:5%;
 }

 p
 {
	text-align: center;
 }

 td 
 {
	background: #ffffff;
	padding-bottom: 15px;
  width:120px;
 
  }

.inputcell
{
	background: #ffffff;
	padding-bottom: 15px;
  width:250px;

}

 #Description,#FormValidation
 {

     font-size: 20px;
     padding-top:15px;
 }

  input[type=text], input[type=NUMBER]
  {
     width:180px;
	 Height:20px;
   text-align: center;
  }

  select{
	width:186px;
	Height:22px;
  text-align: center;
  }

  .Buttons
  {
	width:250px; 
	margin-top:24.4px;
	margin-bottom:24.4px;
  float:right;
  padding: 5px;
  }

  button{
  width:110px;
  margin-right:10px;
  float:right; 
  }
  
  .Validation,#FormValidation
  {
    color:red;
    
  }

.invalid {
   border-color:red;
   display:block;
  }
  
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

form .Dynamic{
 width:290px;
 height:100px;
 background-color: rgb(13, 50, 105);
 display: inline;
}
